{% extends 'app/base.html' %}
{% block title %} Registro {% endblock %}
{% block content %}
{% include "app/navPlantilla.html" %}
{% load crispy_forms_tags %}
{% load static %}
<div class="fondo1">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="card-login">
               <div class="card-body ">
                  <h2 class="text-white text text-center">Registro de Usuario</h2>
                  <hr class="text-white">
                  {% if messages %}
                  <div class="alert alert-success">
                     {% for message in messages %}
                     {{ message }}
                     {% endfor %}
                     <br>
                     <a href="{% url 'index' %}" class="btn btn-success">OK</a>
                  </div>
                  {% else %}
                  <form action="{% url 'registro' %}" method="post">
                     {% csrf_token %}
                     {{ form | crispy }}
                     <br>
                     <a href="{% url 'index' %}">Ir al Inicio</a> |
                     <a href="{% url 'login' %}">Iniciar Sesión</a>
                     <input type="submit" value="Ingresar" class="btn btn-success float-end">
                  </form>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}